<div class="col-md-12">
    <p>Transaction details</p>
    <ngb-tabset>
        <ngb-tab title="Blockchain Data">
            <ng-template ngbTabContent>
                <app-deed-hashed *ngIf="deed !== undefined && (deed.deedType == responseType.DEED_HASHED)" [deed]="deed"></app-deed-hashed>
                <app-deed-registration-deed *ngIf="deed !== undefined && (deed.deedType == responseType.DEED_REGISTRATION_DEED)" [deed]="deed"></app-deed-registration-deed>
                <app-transaction-platform-deed *ngIf="deed !== undefined && (deed.deedType == responseType.TRANSACTION_PLATFORM_DEED)" [deed]="deed"></app-transaction-platform-deed>
                <app-transaction-platform-deed-simple *ngIf="deed !== undefined && (deed.deedType == responseType.TRANSACTION_PLATFORM_DEED_SIMPLE)" [deed]="deed"></app-transaction-platform-deed-simple>
                <app-transaction-platform-simple-deed *ngIf="deed !== undefined && (deed.deedType == responseType.TRANSACTION_PLATFORM_SIMPLE_DEED)" [deed]="deed"></app-transaction-platform-simple-deed>
                <app-document-registry-hash *ngIf="deed !== undefined && (deed.deedType == responseType.DOCUMENT_REGISTRY_HASH)" [deed]="deed"></app-document-registry-hash>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Propy Data">
            <ng-template ngbTabContent>
                <div *ngIf="auth.isAuthenticated()">
                    logged in propy data
                </div>
                <div *ngIf="!auth.isAuthenticated()">
                    <a href="javascript:" routerLink="login">Sign in</a> in order to see this property details
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
