<div class="col-md-12">
    <p>Transaction details</p>
    <ngb-tabset>
        <ngb-tab title="Blockchain Data">
            <ng-template ngbTabContent>

                <table class="table table-striped mt-2">
                <thead>
                    <tr><td>Name</td><td>Value</td></tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>Deed Address</td>
                            <td>{{ deed?.deedAddress }}</td>
                        </tr>
                        <tr>
                            <td>Buyers</td>
                            <td>{{ buyer?.firstname }} {{ buyer?.lastname }}</td>
                        </tr>
                        <tr>
                            <td>Sellers</td>
                            <td>{{ seller?.firstname }} {{ seller?.lastname }}</td>
                        </tr>
                        <tr>
                            <td>Property name</td>
                            <td>{{ property?.name }}</td>
                        </tr>
                        <tr>
                            <td>Property physical address</td>
                            <td>{{ property?.physicalAddress }}</td>
                        </tr>
                        <tr>
                            <td>Document address</td>
                            <td>{{ document?.hash }}</td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Propy Data">
            <ng-template ngbTabContent>
                <div *ngIf="auth.isAuthenticated()">
                    logged in propy data
                </div>
                <div *ngIf="!auth.isAuthenticated()">
                    <a href="javascript:" routerLink="login">Sign in</a> in order to see this property details
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
